<h1>Admin::Dashboard#show</h1>
<div> 
 <%= link_to "Total items in the store: #{@products}", "admin/products" %>
</div>
<div>
  <%= link_to "Total items in the store: #{@categories}", "admin/products" %>
</div>


