<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="page-content">
    This is the about us page. Talking about us. About the things that make us. Us talking about about us.
  </div>

</section>